django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular
celery
redis
channels
channels-redis
django-storages
boto3
psycopg2-binary
elasticsearch-dsl
pyotp
qrcode
pillow
python-decouple
gunicorn
whitenoise
django-bleach
django-ratelimit
requests
daphne
cbor2>=5.6.5
google-auth>=2.29.0
PyJWT>=2.8.0
cryptography>=42.0.0
